@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using System.Text.Json
@using Umbraco.Cms.Core.Models.Blocks;

<section class="py-10 position-relative overflow-hidden" id="testimonials"
    style="background-color: #ffffff;background-position: left top;background-repeat: no-repeat;">

    <div id="particles-style-02" class="position-absolute top-0 start-0 w-100 h-100" style="z-index: 1;"
        data-particle="true" data-particle-options='{
    "particles":{
        "number":{
            "value":35,
            "density":{
                "enable":true,
                "value_area":1843.9238699953512
            }
        },
        "color":{
            "value":"#dee2e6"
        },
                        "particles":{
            "number":{
                "value":35,
                "density":{
                    "enable":true,
                    "value_area":1843.9238699953512
                }
            },
            "color":{
                "value":"#dee2e6"
            },
            "shape":{
                "type":"circle"
            },
            "opacity":{
                "value":0.4,
                "random":true
            },
            "size":{
                "value":5,
                "random":true
            },
            "line_linked":{
                "enable":false
            },
            "move":{
                "enable":true,
                "speed":6,
                "direction":"none",
                "out_mode":"out"
            }
        }
    },
    "interactivity":{
        "detect_on":"window",
        "events":{
            "onhover":{
                "enable":true,
                "mode":"bubble"
            },
            "onclick":{
                "enable":true,
                "mode":"push"
            },
            "resize":true
        },
        "modes":{
            "bubble":{
                "distance":400,
                "size":40,
                "duration":2,
                "opacity":8,
                "speed":3
            },
            "push":{
                "particles_nb":4
            }
        }
    },
    "retina_detect":true
}'>
    </div>

    <div class="container position-relative z-2">
    <h2 class="display-5 fw-light text-dark mb-10 text-center">@Model.Value("testimonialsHeading")</h2>
        @{
            var testimonialsBlocks = Model.Value<BlockGridModel>("testimonialsContent");
        <div class="row g-4 blur-reveal">
            @foreach (var block in testimonialsBlocks)
            {
                var content = block.Content;
                var posterImage = content.Value<IPublishedContent>("posterImage");
                var videoBox = content.Value<IPublishedContent>("video");
            <div class="col-lg col-md-4 col-sm-6">
                <div class="testimonial-v-card">
                    <div class="ratio-9-16-container mb-4 cursor-pointer video-trigger border bg-light shadow-sm position-relative overflow-hidden"
                        data-bs-toggle="modal" data-bs-target="#videoModalPopup">
                        <video class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover z-0"
                            src="@videoBox?.Url()"
                            poster="@posterImage?.Url()" loop muted
                            playsinline></video>
                        <div
                            class="video-overlay position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 transition z-1">
                        </div>
                        <div
                            class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center z-2 pointer-events-none">
                            <i class="bi bi-play-circle display-4 text-white opacity-75"></i>
                        </div>
                    </div>
                        <h6 class="fw-bold mb-0">@content.Value("memberName")</h6>
                        <small class="text-muted d-block mb-3">@content.Value("positionCompany")</small>
                    <div class="small text-muted mb-0">
                            @content.Value("description")
                    </div>
                </div>
            </div>
            }

        </div>
        }
        @{
            var testimonialsLink = Model.Value<Link>("testimonialsC2A");                      
            <div class="text-center mt-10">
                @if (testimonialsLink != null)
                {
                <a href="@testimonialsLink.Url" class="btn btn-large btn-gradient-pink-orange text-white rounded-0">
                    @testimonialsLink.Name
                </a>
                }
            </div>
        }
    </div>
    <!-- Sliding Text -->
    <div class="sliding-text-container position-absolute bottom-0 w-100 opacity-10"
        style="pointer-events: none; z-index: 2;">
        <h3 class="marquees-text fw-700 fs-200 md-fs-150 ls-minus-10px text-dark-gray text-nowrap  opacity-1 text-center ">
        @Model.Value("slidingText")
        </h3>
    </div>
</section>
